{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">
    <link rel="shortcut icon" href="{% static 'core/img/Logotipo.png' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin+Sans">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Euphoria+Script&family=Quintessential&display=swap" rel="stylesheet">
    <title>Lottus Dream</title>
    <script src="{% static 'core/js/app.js' %}" type="text/javascript" charset="utf-8" async defer></script> 
</head>
<body class="fondo-img3">
    <!--navbar-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#home">
            <img src="{% static 'core/img/Logotipo.png' %}" class="img-banner-in" style="width: 5%;">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav" style="margin-right: 0%;">
            <ul class="nav justify-content-end">
              <li class="nav-item"><a class="nav-link" href="#" style="color: transparent;">li falso</a></li>
              <li class="nav-item"><a class="nav-link" href="#" style="color: transparent;">li falso</a></li>
              <li class="nav-item"><a class="nav-link" href="#" style="color: transparent;">li falso</a></li>
              <li class="nav-item"><a class="nav-link" href="#" style="color: transparent;">li falso</a></li>
              <li class="nav-item"><a class="nav-link" href="#" style="color: transparent;">li falso</a></li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"><i class="bi bi-slash-circle"></i> Cerrar Sesión</a>
              </li>                                           
            </ul>
          </div>
        </div>
      </nav>

      <!--seccion de administracion-->
      <section>
        <div class="container-fluid">
          <br><br><br>
          <br>
          <br>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
              <div class="card rounded mx-auto d-block module-border-wrap" style="width: 19rem; border-image-slice: 1; border-width: 2px; border-image-source: linear-gradient(to left, #E970E0, #25AC84);">
              <img src="{% static 'core/img/default-user.png' %}" alt="">
              </div>
            </div>
            <div class="col-2"></div>
            <div class="col-3">
                <h1 class="titulo-principal subtitulo">Datos Personales</h1><br><br>
                <p>Nombre:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{nombre_administrador}}</p>
                <p>Correo:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{correo}}</p>
                <p>Cargo:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{cargo}}</p>
                <p>Oficina:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ubicacion}}</p>
                <br>
                <button type="button" class="false-btn-modal" data-bs-toggle="modal" data-bs-target="#solicitud">Solicitudes Eventos</button>
                <button type="button" class="false-btn-modal" data-bs-toggle="modal" data-bs-target="#lista-salon">Listado de Mantenimiento</button><br><br>
            </div>
            </div>
          </div>
        </div>
      </section>
    <!--Modales solicitudes-->
    <!--Solicitudes-->
    <div class="modal fade" id="solicitud" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="bi bi-stars"></i> Solicitudes</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <table class="table table-striped-columns">
              <thead>
                  <tr>
                      <td>id</td>
                      <td>cant_personas</td>
                      <td>tipo_evento</td>
                      <td>detalle</td>
                      <td>estado</td>
                      <td>id_usuario</td>
                      <td>id_evento</td>
                      <td>id_salon</td>
                  </tr>
              </thead>
              <tbody>
                  {% if cotizaciones %}
                  {% for cotizacion in cotizaciones %}
                  <tr>
                      <td>{{ cotizacion.id }}</td>
                      <td>{{ cotizacion.cant_personas }}</td>
                      <td>{{ cotizacion.tipo_evento }}</td>
                      <td>{{ cotizacion.detalle }}</td>
                      <td>{{ cotizacion.estado }}</td>
                      <td>{{ cotizacion.id_usuario }}</td>
                      <td>{{ cotizacion.id_evento }}</td>
                      <td>{{ cotizacion.id_salon }}</td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <h5>no hay datos</h5>
                  {% endif %}
              </tbody>
          </table>
          </div>
          <div class="modal-footer">
              <a href="#" class="false-btn-modal"><i class="bi bi-check2-square"></i></a>
              <a href="#" class="false-btn-modal"><i class="bi bi-slash-circle"></i></a>
          </div>
        </div>
      </div>
    </div>
    
    <!--Listado de Salones-->
    <div class="modal fade" id="lista-salon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="bi bi-stars"></i>Mantenimiento</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body modal-dialog-scrollable fondo">
            <div class="row">
              <div class="col-12">
                <h4 class="subtitulo">Listado de salones</h4>
                <table class="table table-striped-columns">
                  <thead>
                      <tr>
                          <td>ID</td>
                          <td>NOMBRE</td>
                          <td>ESTADO</td>
                          <td>UBICACION</td>
                      </tr>
                  </thead>
                  <tbody>
                      {% if salon %}
                      {% for salones in salon %}
                      <tr>
                          <td>{{ salones.id }}</td>
                          <td>{{ salones.nombre }}</td>
                          <td>{{ salones.estado }}</td>
                          <td>{{ salones.ubicacion }}</td>
                      </tr>
                      {% endfor %}
                      {% else %}
                      <h5>no hay datos</h5>
                      {% endif %}
                  </tbody>
              </table>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h4 class="subtitulo"> Listado Proveedores</h4>
                <table class="table table-striped-columns">
                  <thead>
                      <tr>
                          <td>ID</td>
                          <td>NOMBRE</td>
                          <td>REPRESENTANTE</td>
                          <td>DIRECCION</td>
                          <td>TIPO</td>
                          <td>DETALLE</td>
                      </tr>
                  </thead>
                  <tbody>
                      {% if proveedor %}
                      {% for proveedores in proveedor %}
                      <tr>
                          <td>{{ proveedores.id }}</td>
                          <td>{{ proveedores.nombre }}</td>
                          <td>{{ proveedores.representante }}</td>
                          <td>{{ proveedores.direccion }}</td>
                          <td>{{ proveedores.tipo }}</td>
                          <td>{{ proveedores.detalle }}</td>
                      </tr>
                      {% endfor %}
                      {% else %}
                      <h5>no hay datos</h5>
                      {% endif %}
                  </tbody>
              </table>
              </div>
            </div>           
            {% endblock %}
          </div>
          <div class="modal-footer">
              <a href="#" class="false-btn-modal"><i class="bi bi-check2-square"></i> Agregar</a>
              <a href="#" class="false-btn-modal"><i class="bi bi-clock"></i>Modificar</a>
              <a href="#" class="false-btn-modal"><i class="bi bi-slash-circle"></i>Eliminar</a>
          </div>
        </div>
      </div>
    </div>  

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>
        const myModal = document.getElementById('myModal')
        const myInput = document.getElementById('myInput')
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        myModal.addEventListener('shown.bs.modal', () => {
        myInput.focus()
        })
    </script>
</body>
</html>
